[connection]
id=eth0-static
type=ethernet
interface-name=eth0
autoconnect=true
permissions=

[ethernet]
mac-address-blacklist=

[ipv4]
method=manual
address1={{ home_assistant.net.ip }}/{{ home_assistant.net.prefix_length}}
gateway={{ home_assistant.net.gateway }}
dns={{ network.dns }}
dns-search=

[ipv6]
#method=disabled
addr-gen-mode=stable-privacy
method=auto
dns-search=

[proxy]
