[Unit]
Description={{ home_assistant.lxc_container_name }} LXC Container
After=network-online.target lxc.service lxc-net.service
Wants=network-online.target lxc.service lxc-net.service

[Service]
Type=simple
ExecStart=/usr/bin/lxc-start -n {{ home_assistant.lxc_container_name }} -F
ExecStop=/usr/bin/lxc-stop -n {{ home_assistant.lxc_container_name }}
Restart=on-failure
RestartSec=10s
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
